.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 9em;
    height: auto;
    margin: auto;
    padding: 0.5em;
    border: solid black .01em;
    border-radius: 0.5em;
}

.display {
    width: 10em;
    height: 3em;
    border-radius: .5em;
    margin: 0.5em;
    padding: 0.2em;
    background-color: lightgray;
    text-align: end;
    font-family: monospace;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    width: 2em;
    height: 2em;
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 2em;
    border-style: hidden;
}

#ac,
#equal {
    background-color: lightpink;
}

.number,
#decimal,
#del {
    background-color: lightgrey;
}