.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: auto;
    margin: auto;
    border: solid black .01em;
}

.display {
    width: 8.2em;
    height: 5em;
    border: solid black .01em;
    margin: 5px;

    text-align: end;
}

button {
    width: 2em;
    height: 2em;
    padding: 0.1em;
    margin: 0.1em;
    border-radius: 2em;
    border-style: hidden;
}